

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/*
dark purple= #1d2d50
background= #233142
green= #239d60
red= #f73859
*/

* {
 	margin: 0;
 	box-sizing: border-box;
 	font-family: 'Lato', sans-serif;
}

body {
	background-color: #233142;
	color: white;
}

span {
	font-weight: bold;
}

h1 {
	font-weight: 900;
}

.wrapper {
	padding: 0 5rem;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;

}

main {
	height: 100vh;
	display: grid;
}

@media screen and (max-width: 600px) {

	.wrapper {
		padding: 0 1rem;
	}

}

/*/////////////////////

		HEADER

/////////////////////*/

.header {
	display: flex;
	justify-content: flex-end;
}

.header a {
	font-size: 1.2rem;
	color: white;
	display: block;
	margin: 1rem .5rem;
}

/*/////////////////////

		hero

/////////////////////*/


.hero {
	padding: 2rem 0;
	margin: 0 0 3rem;
}

.hero h1 {
	font-size: 2rem;
	text-align: center;
}


/*/////////////////////

	ENCRYPT

/////////////////////*/


.encrypt-wrapper {
	display: flex;
	height: 100vh;

}

.encrypt-wrapper-title {
	font-size: 1rem;
	text-align: center;
	font-weight: normal;
	margin-bottom: 1rem;
}

.encrypt {
	padding: 1rem 0 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

#textArea {
	width: 60%;
	height: 200px;
	border-radius: 15px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	font-size: 1rem;
	resize: none;
}

.buttons {
	text-align: center;
}

.button {
	color: white;
	padding: .8rem;
	border-radius: 15px;
	width: 150px;
	border: 2px solid transparent;
	font-size: 1rem;	
	margin: 2rem 1rem 0;
	display: inline-block;
	text-align: -webkit-center;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
}

.button.encrypt {
	background-color: #239d60;
	border-color: #239d60;
}

.button.decrypt {	
	background-color: #f73859;
	border-color: #f73859;
}


.button:hover {
	background: transparent;
}

@media screen and (max-width: 800px) {

	#textArea{
		width: 100%;

	}

}

/*//////////////////////////////////////////////////
 
 					MESSAGE

//////////////////////////////////////////////////*/

.Message {
	text-align: center;	
}

.Message h2 {
	font-size: 1rem; 
	margin-bottom: .5rem;
}

.Message p {
	font-size: 1.2rem; 
}

/*//////////////////////////////////////////////////

						ABOUT	

//////////////////////////////////////////////////*/

/*.about {
	margin: 3em 0;
	padding: 0 10em;
	height: 68vh;
} */

.about h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.about p {
	font-size: 1.3rem;
}

@media screen and (max-width: 698px) {

	.about {
		padding: 0;
	}

}  

/*////////////////////////

		ERROR 404	

////////////////////////*/

.Error {
	margin: 3rem 0;
	padding: 0 10rem;
	height: 68vh;
} 

.Error p {
	font-size: 2rem;
	text-align: center;
}

/*////////////////////////

		FOOTER

////////////////////////*/

.footer {
	padding: 1rem;
	display: flex;
	align-items: center;
}

.footer a {
	color: inherit;
}